body {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: "Roboto Mono", serif, sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

label:hover {
  opacity: 0.7;
}

img {
  max-width: 640px;
  max-height: 320px;
  height: auto;
}

a {
  color: black;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  text-shadow: 0 1px;
}
