:root {
  --font-family: "Roboto Mono", serif, sans-serif;
  --main-font-color: antiquewhite;
  --transition-time: 0.3s;
  --bg-color: #000;
  --section-bg-color: rgb(24, 24, 24);
  --section-border-radius: 3px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  color: var(--main-font-color);
  background-color: var(--bg-color);
  flex-direction: column;
  place-items: center;
  font-family: var(--font-family);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

section {
  display: flex;
  max-width: 392px;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: var(--section-border-radius);
  background-color: var(--section-bg-color);
  transition: var(--transition-time);
}

section:hover {
  box-shadow: 1px 1px 16px 4px #1db954;
  cursor: pointer;
}

ul {
  margin-top: 0;
  padding-left: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

.queryOptionsForm__input {
  margin-bottom: 0.5rem;
}

label:hover {
  opacity: 0.7;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #1db954;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

a {
  color: var(--main-font-color);
  transition: var(--transition-time);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px #1db954;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 1px solid antiquewhite;
}

@media (min-width: 576px) {
  img {
    min-width: 360px;
    min-height: 360px;
    /* max-width: 640px; */
    max-height: 320px;
  }
}

.followers {
  font-weight: bold;
}

.popularityBar {
  padding: 0.3rem;
  border: 1px solid antiquewhite;
  margin-bottom: 1rem;
}

.popularityBar__low {
  background-color: rgb(185, 48, 48);
}

.popularityBar__medium {
  background-color: rgb(207, 194, 73);
}

.popularityBar__high {
  background-color: rgb(58, 165, 49);
}
